@import "/src/styles/base";

.component {
    position: relative;
    display: inline-block;
    font-size: 0.9rem;
    width: 9rem;
    height: 3rem;
    margin-top: 0.5rem;
    text-decoration: none;
    color: $backgroundColor;
    background: $textColor;
    transition: 0.4s;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
