@import "/src/styles/base";

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    color: $textColor;
    h1 {
        margin: 1rem auto;
        font-size: 3rem;
    }
    h3 {
        margin: 1rem auto;
        font-size: 1.5rem;
    }
    a {
        margin: 0 auto;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        width: fit-content;
        background-color: $backgroundColor;
        color: $textColor;
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
