@import "/src/styles/base";

.orderItem {
    .headers {
        display: flex;
        padding: 0.7rem 1rem;
        background-color: $backgroundColor;
        border-top: 2px;
        .container {
            width: 40%;
        }
        h1 {
            margin: 0;
            font-size: 1.2rem;
            color: $textColor;
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: $textColor;
            transition: 0.1s;
            font-size: 1.5rem;
        }
        p {
            padding: 0;
            margin: 0;
        }
    }
}
