.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.nav a {
    font-weight: 500;
    font-size: larger;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.nav a:hover {
    border-bottom: white solid 3px;
}

.nav a.active {
    border-bottom: white solid 3px;
}
