@import "/src/variables";

.orderItem {
    .headers {
        display: flex;
        padding: 0.7rem 1rem;
        background-color: $backgroundColor;
        border-top: 2px;
        .container {
            width: 30%;
        }
        h1 {
            margin: 0;
            font-size: 1.2rem;
            color: $textColor;
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: $textColor;
            transition: 0.1s;
            font-size: 1.5rem;
        }
        p {
            padding: 0;
            margin: 0;
        }
        button {
            margin: 0;
            margin-bottom: 2rem;
            margin-top: 0.5rem;
            font: inherit;
            background-color: $textColor;
            border: none;
            color: $backgroundColor;
            padding: 0.8rem 1.5rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: small;
            transition: 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
