.form {
    margin: auto;
    width: 25rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    .control {
        margin-bottom: 0.5rem;
        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: normal;
        }
        input {
            display: block;
            width: 100%;
            font: inherit;
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: 4px;
            margin-bottom: 1rem;
            border-color: white;
        }
    }
    button {
        position: relative;
        display: inline-block;
        font-weight: bold;
        font-size: medium;
        width: 9rem;
        height: 3rem;
        margin-top: 0.5rem;
        text-decoration: none;
        color: rgb(21, 150, 209);
        background: white;
        transition: 0.4s;
        border: none;
        text-align: center;
        border-radius: 5px;
        &:hover {
            transform: scale(1.1);
        }
    }
}
