@import "/src/styles/base";

.mainView {
    display: flex;
    flex-direction: column;
    a {
        border-radius: 8px;
        text-align: center;
        background-color: $backgroundColor;
        text-decoration: none;
        color: $textColor;
        transition: 0.4s ease-out;
        padding: 1rem;
        margin-left: 2.5rem;
        margin-top: 2rem;
        &:hover {
            transform: scale(1.1);
        }
    }
    h1 {
        font-weight: 300;
        font-size: 500;
        padding: 1rem;
    }
}
