@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    overflow: hiddden;
    background: linear-gradient(
        177deg,
        rgb(15, 75, 165) 0%,
        rgba(18, 124, 175, 1) 65%,
        rgba(32, 205, 250, 1) 100%
    );
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
