.orderButton button {
    width: 14%;
    position: absolute;
    top: 7.5%;
    right: 5%;

    cursor: pointer;
    border: none;
    background-color: rgb(21, 150, 209);
    color: white;
    padding: 0.75rem 3rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
}

.hide button {
    display: none;
}

.bump button {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
