.menu {
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            margin: 0;
            font-weight: 500;
        }
        p {
            font-size: 1.5rem;
            margin: 0;
        }
        .description {
            color: rgba(255, 255, 255, 0.86);
            font-size: medium;
        }
    }
    ul {
        padding: 0.7rem;
        margin: 0;
    }
    li {
        list-style: none;
        margin-bottom: 1rem;
    }
}
