.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    margin-top: 2rem;
    label {
        margin-bottom: 0.5rem;
        padding: 1rem;
    }
    input {
        width: max-content;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 4px;
        margin-bottom: 1rem;
        border-color: black;
    }
    button {
        font: inherit;
        background-color: rgb(21, 150, 209);
        border: none;
        color: white;
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 300;
        transition: 0.3s;
        &:hover {
            transform: scale(1.05);
        }
    }
    .bottom {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }
    p {
        align-items: center;
        margin: 1rem auto;
    }
    .placesAutocomplete {
        display: flex;
        align-items: center;
    }
}
