@import "/src/styles/base";

.form {
    width: 40rem;
    margin: 2rem auto;
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: normal;
    }
    input {
        @include inputMixin;
    }
}
