.form {
    width: 40rem;
    margin: 2rem auto;
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: normal;
    }
    input {
        display: block;
        width: 100%;
        font: inherit;
        font-size: 1.2rem;
        padding: 0.5rem;
        border-radius: 4px;
        margin-bottom: 1rem;
        border-color: white;
        &:focus {
            outline: none;
        }
    }
    button {
        position: relative;
        display: inline-block;
        font-weight: lighter;
        width: 7rem;
        height: 2.5rem;
        margin-top: 0.5rem;
        text-decoration: none;
        color: white;
        background: rgb(21, 150, 209);
        transition: 0.4s;
        border: none;
        font-size: small;
        text-align: center;
        border-radius: 5px;
        transition: 0.3s;
        &:active,
        &:hover {
            transform: scale(1.1);
        }
    }
}
