.orderList {
    width: 100%;
    color: white;
}

.orderList .container {
    display: flex;
    background-color: rgb(21, 150, 209);
    padding: 1rem;
}

.orderList .container .header {
    width: 30%;
}

.orderList .container h1 {
    margin: 0;
    font-size: 1.4rem;
}

.orderList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
