.register {
    margin: 5rem auto;
    width: 45rem;
    padding: 1rem;
    text-align: center;
    color: #fff;
    box-shadow: 0 1px 150px rgba(255, 255, 255, 1);
    border-radius: 25px;
}

.register a {
    text-decoration: none;
    color: #fff;
    transition: 0.1s;
    font-size: 1.5rem;
}

.register .links {
    display: flex;
    flex-direction: column;
}

.register .links a {
    background-color: rgb(21, 150, 209);
    margin: 1rem auto;
    padding: 1rem 3rem;
    border-radius: 8px;
    padding: 1rem, 2rem;
}

.register a:hover {
    font-weight: bolder;
}
