@import "/src/variables";

.orderItem {
    background-color: $backgroundColor;
    padding: 1.5rem;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    color: $textColor;
    box-shadow: 0 1px 150px rgba(255, 255, 255, 1);
    border-radius: 25px;
    .headers {
        display: flex;
        h1 {
            margin: 0;
            font-size: x-large;
        }
        button {
            margin: 0;
            margin-bottom: 2rem;
            margin-top: 0.5rem;
            font: inherit;
            background-color: $textColor;
            border: none;
            color: $backgroundColor;
            padding: 0.8rem 1.5rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: small;
            transition: 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
        .container {
            width: 33.333%;
        }
    }
}
