@import "/src/styles/base";

.orderList {
    width: 100%;
    color: $textColor;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .container {
        display: flex;
        background-color: $backgroundColor;
        padding: 1rem;
        .header {
            width: 30%;
        }
        h1 {
            margin: 0;
            font-size: 1.4rem;
        }
    }
}
