@import "/src/variables";

.register {
    margin: auto;
    width: 35rem;
    padding: 1rem;
    text-align: center;
    color: $textColor;
    background: $backgroundColor;
    border-radius: 20px;
    a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: $textColor;
        transition: 0.1s;
        font-size: 1.5rem;
        &:hover {
            font-weight: bolder;
        }
    }
    p {
        font-size: large;
    }
}
