@import "/src/variables";

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    margin-top: 2rem;
    label {
        margin-bottom: 0.5rem;
        padding: 1rem;
    }
    input {
        width: max-content;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 4px;
        margin-bottom: 1rem;
        border-color: black;
    }
    .bottom {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }
    p {
        align-items: center;
        margin: 1rem auto;
    }
    .placesAutocomplete {
        display: flex;
        align-items: center;
    }
}
