@import "/src/styles/base";

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    margin-top: 2rem;
    label {
        margin-bottom: 0.5rem;
        padding: 1rem;
    }
    .number {
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
            @include inputMixin;
        }
    }
    .bottom {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }
    p {
        align-items: center;
        margin: 1rem auto;
    }
    .placesAutocomplete {
        display: flex;
        align-items: center;
    }
}
